#nav {
  background-color: #f2f2f2;
}
#nav .breadcrumb {
  margin-bottom: 10px;
}
#nav .breadcrumb li + li::before {
  content: ">";
}
#nav .breadcrumb a {
  text-decoration: none;
}
#nav .bandtitle {
  font-size: 20px;
  color: #874604;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e6e6e6;
  padding-left: 15px;
  background-color: #eeeeee;
  margin: 0 10px;
}
#nav .titlelist .totletitle .titlelisttop {
  padding-left: 15px;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
#nav .titlelist .totletitle .titlelisttop::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 30px;
  height: 7px;
  background-image: url("../images/arrow_down.gif");
  background-size: 30px 7px;
}
#nav .titlelist .totletitle .titlelisttop.arrow::before {
  background-image: url("../images/arrow_up.gif");
}
#nav .titlelist .totletitle .titlelistbody .row {
  margin-right: 0;
  margin-left: 0;
}
#nav .titlelist .totletitle .titlelistbody .row .col-xs-4 a {
  display: block;
  border: 1px solid #e6e6e6;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #333333;
  text-decoration: none;
}
#nav .titlelist .totletitle .titlelistbody .row .col-xs-4 .col-xs-4:nth-of-type(3n) {
  border-right: 0;
  border-left: 0;
}
