#menu {
  overflow: hidden;
  padding: 15px 0 0 15px;
}
#menu > .row {
  margin-right: 0;
  margin-left: -15px;
}
#menu > .row .col-xs-3 {
  min-height: 0;
}
#menu > .row .col-xs-3 > a {
  display: block;
}
#menu > .row .col-xs-3 > a > img {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
}
#menu > .row .col-xs-3 > a > p {
  text-align: center;
  color: #333333;
}
#recommend {
  width: 100%;
}
#recommend > .recommend-title {
  background-color: #ff841d;
  height: 35px;
  padding: 0 15px;
}
#recommend > .recommend-title p {
  line-height: 35px;
  color: white;
  font-size: 20px;
}
#recommend > .recommend-title::before {
  content: "";
  position: absolute;
  right: 15px;
  width: 23px;
  height: 23px;
  background-image: url("../images/more.png");
  background-size: 23px;
  margin-top: 5px;
}
#recommend > .recommend-list {
  padding: 15px;
}
#recommend > .recommend-list > .media > .media-left > a {
  display: block;
}
#recommend > .recommend-list > .media > .media-left > a img {
  width: 99px;
  height: 100px;
}
#recommend > .recommend-list > .media > .media-body {
  padding-bottom: 15px;
}
#recommend > .recommend-list > .media > .media-body > .media-heading {
  padding-top: 10px;
  font-size: 16px;
  color: #333333;
  height: 75px;
  overflow: hidden;
}
#recommend > .recommend-list > .media > .media-body > .media-heading > span {
  color: #ff841d;
}
#recommend > .recommend-list > .media > .media-body > .from {
  color: #a1a1a1;
  font-size: 12px;
}
#recommend > .recommend-list > .media > .media-body > .from > .from-id {
  margin-right: 3px;
}
#recommend > .recommend-list > .media > .media-body > .from > .comment {
  position: relative;
  float: right;
  color: #a1a1a1;
  width: 80px;
  text-align: center;
  line-height: 20px;
}
#recommend > .recommend-list > .media > .media-body > .from .comment::before {
  content: "";
  position: absolute;
  right: 75px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url("../images/ic_comment.png");
  background-size: 15px;
  background-repeat: no-repeat;
}
#recommend > .recommend-more {
  padding: 10px 10px 20px;
  background-color: #f2f2f2;
}
#recommend > .recommend-more > a {
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
  color: #5a5a5a;
  background-color: #f8d8d8;
  margin: auto;
  border-radius: 5px;
  line-height: 30px;
}
